/**
 * PurchasesTable uses an HTML table to render a list of purchases
 *
 * The table is responsive, and will collapse into a set of "cards" on
 * mobile. This is achieved by overriding the default table styles and
 * using CSS grid to lay out the card contents and re-order the fields
 *
 * The CSS is defined in a mobile-first manner, and then overridden to
 * restore the normal table layout on larger screens
 */

.purchases-table {
  color: #272833;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 400;
  overflow: scroll;

  strong {
    font-weight: 700;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
  }

  .icon {
    display: inline-block;
    vertical-align: bottom;
    width: 1.5rem; /* 24px */
    height: 1.5rem; /* 24px */

    path {
      stroke: #6B6C7E;
      stroke-width: 1;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  table, tbody {
    display: block;
  }

  thead {
    display: none;
  }
}

.purchase {
  display: grid;
  grid-template-columns: 2rem auto auto;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #CDCED9;
  border-radius: 0.625rem; /* 10px */
  padding: 1rem 1.5rem;
  margin: 0.5rem 0;

  &:first-child {
    margin-top: 0;
  }
}

.purchase-location {
  order: 1;

  img {
    display: block;
    width: 2rem; /* 32px */
    height: 2rem; /* 32px */
    border-radius: 1000px;
  }
}

.purchase-name {
  order: 2;
}

.purchase-price {
  order: 3;
  justify-self: right;
}

.purchase-description {
  order: 4;
  grid-column: span 2;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  margin-bottom: 0.25rem;
}

.purchase-date {
  order: 5;
  grid-column: span 3;
  font-size: 1rem;
  line-height: 1rem;

  &::before {
    display: block;
    font-weight: 600;
    content: attr(data-responsive-label);
  }
}

.purchase-category,
.purchase-actions {
  display: none;
}

/**
 * Override the mobile styles to restore the table layout on larger screens
 */
 @media (min-width: $screen-md-min) {
  .purchases-table {
    border: 1px solid #E7E7ED;
    border-radius: 0.25rem;

    .col-center {
      text-align: center;
    }

    // reset all of our grid shinanigans from the mobile view
    table, thead, tbody, tr, td, th {
      display: revert;
      order: revert;
      padding: 0;
      margin: 0;
      border: none;
    }

    thead {
      border-bottom: 1px solid #E7E7ED;
    }

    th {
      font-weight: 600;
      text-align: left;
      padding: 0.5rem 0.75rem;
      white-space: nowrap;
    }

    td {
      padding: 0.5rem 0.75rem 3rem;
    }

    th:first-child,
    td:first-child {
      padding-left: 3rem; /* 48px */
    }
  }

  .purchase-location img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .purchase-date,
  .purchase-description {
    font-weight: 400;
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  }

  .purchase-date {
    white-space: nowrap;

    &::before {
      display: none;
    }
  }

  .purchase-description {
    max-width: 300px;
  }
}
